<div class="mainDiv">
  <section id="mainModule" class="module">
    <header class="mainHeader">
      <span class="title">Annotasyon</span>
      <span class="rightside">
        <span class="paginator">
          <sq-input
            controlLabel="SAYFA"
            controlPlaceholder="0"
            [disabled]="numPage <= 0"
            type="number"
            min="0"
            class="sayfa"
            [formControl]="curPage"
          ></sq-input>
        </span>
        <span>
          <sq-button (click)="uploader.click()">YUKLE</sq-button>
          <input
            hidden
            type="file"
            #uploader
            id="file"
            (change)="handleFileInput($event.target.files)"
          />
        </span>
      </span>
    </header>
    <app-hocr [imgsrc]="imgsrc" [hocrStr]="hocr"></app-hocr>
  </section>
</div>
