.canvasContainer {
  border-bottom: 1px solid rgba(46, 159, 134, 0.69);
  border-left: 1px solid rgba(46, 159, 134, 0.69);
  margin: 3px 0 7px 10px;
  transition: 300ms all ease-in;
  &:hover,
  &:active,
  &:focus {
    border-color: rgba(46, 159, 134, 0.69);
    box-shadow: 3px 2px 7px rgba(18, 125, 104, 0.21);
  }
}

.controlContainer {
  width: 600px;
  margin: 3px 0 7px 10px;
}

.scaleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
