<div class="mainContainer">
  <div class="leftContainer">
    <app-canvas
      [imgsrc]="imgsrc"
      [rects]="rects"
      [focus]="focus"
      (selectedChange)="scrollTo($event)"
    ></app-canvas>
  </div>
  <div class="rightContainer">
    <ngx-codemirror
      #editor
      [(ngModel)]="hocrStr"
      [options]="cmconfig"
      (cursorActivity)="cursorChanged($event)"
    >
    </ngx-codemirror>
    <sq-button (click)="this.generateTesseract()">Tesseract</sq-button>
    <sq-button (click)="this.parse()">Güncelle</sq-button>
    <sq-button (click)="this.save()">Kaydet</sq-button>
  </div>
</div>
