.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.leftContainer {
  margin: 10px;
}

.rightContainer {
  margin: 10px;
  margin-left: 50px;
  width: 650px;
}

.rightContainer > sq-button {
  margin: 3px 0 7px 10px;
}
